a {
  text-decoration: none;
  color: #252525;
}


.main-container {
  background-color: white;
  max-width: 850px;
  margin: auto;
}

/* ======================
        TYPOGRAPHY
======================= */
body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #252525;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-variant-ligatures: common-ligatures;
  line-height: 1.2;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  color: #424250;
}

/* ======================
    SPACING & ALIGNMENT
======================= */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 10px;
  background-color: white;
  border: none;
}

/* ======================
       ABOUT ME
======================= */
h2 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
}

.grey-title {
  /* margin: 6px 0; */
  letter-spacing: 1.2px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;

  background-color: #CBCBCB;
  border-radius: 4px;
  padding: 5px;
}

.main-name {
  font-size: 54px;
}

.summary-container {
  padding-top: 20px;
}

.summary-text {
  padding-right: 15px;
  line-height: 1.6;
}

.summary-container h3 {
  margin-bottom: 20px;
}

.summary-container p {
  margin-bottom: 10px;
}

.summary-container a {
  font-weight: 500;
}


/* =====================================
          CONTACT & LINKS
======================================= */
.link-container {
  background-color: white;
  margin-bottom: 10px;
}

.contact-list {
  color: #252525;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.contact-list > li {
  display: inline-flex;
  padding-top: 10px;
  border-radius: 2px;
  margin-right: 20px;
}


/* =====================================
            MEDIA QUERIES
======================================= */
@media screen and (max-width: 480px) {
  .main-name {
    font-size: 45px;
  }

  .summary-container h3 {
    font-size: 22px;
  }

  .employment-link {
    display: inline-flex;
    float: none;
  }

  .employment-title {
    padding-right: 12em;
  }
}
@media screen and (max-width: 768px) {
  .github-corner {
    display: none;
  }

  .img-container {
    height: 300px;
    overflow: hidden;
  }

  .main-name {
    text-align: center;
  }

  .summary-container h3 {
    text-align: center;
  }

  .summary-container {
    padding-top: 0;
  }
}
/* =====================================
            GITHUB CORNER LINK
======================================= */
/* .github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
} */

/* =====================================
            OTHER
======================================= */

.company-row {
  display: flex;
  justify-content: space-between;
  /* margin: 10px 0 5px 0; */
}

h3 {
  font-size: 24px;
  font-weight: 900;
}

h4 {
  font-size: 20px;
}
